// colors
$text: #FEFEFE;
$accent-gradient: linear-gradient(180deg, #5B4CFF 0%, #7366FF 100%);
$accent-shadow: 0px 4px 25px rgba(91, 76, 255, 0.25);
$moon: #484F5B;
$dark-gray: #595961;
$light-gray: #646E7D;
$gold: #F2C94C;
$bg: rgba(16, 21, 29, 0.8);
$hud-stroke: #494143;
$waves: linear-gradient(225.83deg, #FFFFFF 30.31%, rgba(255, 255, 255, 0) 85.43%), radial-gradient(149% 149% at 149% 50%, #FFFFFF 15.1%, rgba(255, 255, 255, 0.78125) 27.6%, #FFFFFF 28.01%, rgba(255, 255, 255, 0.51) 52.6%, #FFFFFF 53.12%, rgba(255, 255, 255, 0.51) 77.08%, #FFFFFF 77.51%, rgba(255, 255, 255, 0.52) 100%);
$black-waves: linear-gradient(225.83deg, #000000 30.31%, rgba(0, 0, 0, 0) 85.43%), radial-gradient(149% 149% at 149% 50%, #000000 15.1%, rgba(0, 0, 0, 0.78125) 27.6%, #000000 28.01%, rgba(0, 0, 0, 0.51) 52.6%, #000000 53.12%, rgba(0, 0, 0, 0.51) 77.08%, #000000 77.51%, rgba(0, 0, 0, 0.52) 100%);
$field: rgba(211, 218, 255, 0.05);
$active-button: rgba(211, 218, 255, 0.1);
$stroke: rgba(254, 254, 254, 0.03);
$placeholder: rgba($text, 0.2);
$error: rgba(235, 87, 87, 0.5);

// sizes
$_4px: 0.25rem;
$_6px: 0.375rem;
$_7px: 0.438rem;
$_8px: 0.516rem;
$_10px: 0.625rem;
$_12px: 0.75rem;
$_14px: 0.875rem;
$_16px: 1rem;
$_18px: 1.125rem;
$_20px: 1.25rem;
$_22px: 1.375rem;
$_24px: 1.5rem;
$_26px: 1.625rem;
$_27px: 1.688rem;
$_30px: 1.875rem;
$_32px: 2rem;
$_35px: 2.188rem;
$_40px: 2.5rem;
$_42px: 2.625rem;
$_46px: 2.875rem;
$_50px: 3.125rem;
$_56px: 3.5rem;
$_60px: 3.75rem;
$_62px: 3.875rem;
$_304px: 19rem;
$_354px: 22.125rem;
$_512px: 34.375rem;
$_532px: 33.25rem;
$_656px: 41rem;
$_731px: 45.688rem;
